.container {
  max-width: 1280px;
  padding: 0 1.5rem;
  margin: auto;
  overflow: hidden; }

.bg-main {
  background: #005a99;
  color: #f4f4f4; }

.bg-dark {
  background: #333;
  color: #f4f4f4; }

.bg-light {
  background: #f4f4f4;
  color: #333; }

.bg-medium {
  background: #ccc;
  color: #333; }

.text-center {
  text-align: center; }

.text-left {
  text-align: left; }

.text-right {
  text-align: right; }

.text-justify {
  text-align: justify; }

.py-1 {
  padding: 1rem 0; }

.py-2 {
  padding: 2rem 0; }

.py-3 {
  padding: 3rem 0; }

.py-4 {
  padding: 4rem 0; }

.my-1 {
  margin: 1rem 0; }

.my-2 {
  margin: 2rem 0; }

.my-3 {
  margin: 3rem 0; }

.my-4 {
  margin: 4rem 0; }

.ptm {
  margin-top: 1rem; }

.section-banner {
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  height: 25rem;
  width: 100%; }

.section-title {
  font-size: 4rem;
  display: block;
  padding-bottom: 0.5rem;
  text-align: center;
  font-weight: 100;
  text-transform: uppercase; }

.section-subtitle {
  font-size: 2rem;
  margin-bottom: 2rem;
  text-align: center; }

.content-title {
  font-size: 1.5rem; }

.content-description {
  margin-top: 0;
  font-size: 1.1rem; }

.external-link {
  color: #e01983;
  font-size: 0.8rem; }

.footer-link {
  border-bottom: 1px solid rgba(255, 255, 255, 0.1); }

/* header */
.navigation {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 3;
  background-color: #fff;
  box-shadow: 1px 1px 4px 0 rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.15s ease-out; }
  .navigation.top {
    box-shadow: none; }

.navigation ul {
  margin: 0;
  padding: 0;
  list-style: none;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  background-color: #fff; }
  .navigation ul::-webkit-scrollbar {
    display: none; }
  .navigation ul::-moz-scrollbar {
    display: none; }

.navigation li {
  text-transform: uppercase;
  text-align: center;
  margin: 10px 0;
  opacity: 0;
  transform: translateY(-25vh);
  transition: transform 0.3s ease-out, opacity 0.2s ease-out; }
  .navigation li:first-child {
    margin-top: 5%; }
  .navigation li:last-child {
    margin-bottom: 75 px; }

.navigation li a {
  font-size: 1.1rem;
  color: #e01983;
  display: block;
  padding: 10px 0;
  border-radius: 25px;
  text-decoration: none; }

.navigation li a:hover,
.navigation .menu-btn:hover {
  background: #005a99;
  color: #fff; }

.navigation .logo {
  display: block;
  float: left;
  line-height: 0;
  padding: 5px 0;
  text-decoration: none; }
  .navigation .logo img {
    height: 46px;
    width: auto; }

/* menu */
.navigation .menu {
  clear: both;
  max-height: 0;
  transition: max-height 0.4s ease-out; }

/* menu icon */
.navigation .menu-icon {
  cursor: pointer;
  display: block;
  float: right;
  padding: 26px 0;
  position: relative;
  user-select: none; }

.navigation .menu-icon .navicon {
  background: #e01983;
  display: block;
  height: 4px;
  position: relative;
  transition: all 0.2s ease-out;
  width: 25px; }

.navigation .menu-icon .navicon:before,
.navigation .menu-icon .navicon:after {
  content: "";
  position: absolute;
  display: block;
  height: 100%;
  width: 100%;
  background: #e01983;
  transition: all 0.2s ease-out; }

.navigation .menu-icon .navicon:before {
  top: 8px; }

.navigation .menu-icon .navicon:after {
  top: -8px; }

.navigation .menu-btn {
  display: none; }

.navigation .menu-btn:checked ~ .menu {
  max-height: calc(100vh - 56px); }

.navigation .menu-btn:checked ~ .menu li {
  opacity: 1;
  transform: translateY(0); }

.navigation .menu-btn:checked ~ .menu-icon .navicon {
  background: transparent; }

.navigation .menu-btn:checked ~ .menu-icon .navicon:before {
  transform: rotate(-135deg); }

.navigation .menu-btn:checked ~ .menu-icon .navicon:after {
  transform: rotate(135deg); }

.navigation .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
.navigation .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
  top: 0; }

/* 48em = 768px */
@media only screen and (min-width: 1135px) {
  .navigation ul {
    background: #fff;
    overflow: hidden; }
  .navigation li {
    transition: none;
    transform: translateZ(0);
    opacity: 1;
    float: left;
    margin: 0 35px 0 0; }
    .navigation li:first-child {
      margin-top: 0; }
    .navigation li:last-child {
      margin-right: 0;
      margin-bottom: 0; }
  .navigation li a {
    margin-top: 0;
    font-size: 1.1rem;
    padding: 24px 0 16px 0;
    border-radius: 0;
    border-bottom: 5px solid transparent;
    transition: padding 0.15s ease-out, border 0.25s; }
    .navigation li a.active {
      border-bottom: 5px solid #005a99; }
    .navigation li a.shrinked {
      padding: 11px 0 6px 0; }
  .navigation li a:hover,
  .navigation .menu-btn:hover {
    color: #e01983;
    background: none;
    border-bottom: 5px solid #e01983; }
  .navigation .logo img {
    transition: height 0.15s ease-out;
    height: 63px;
    width: auto; }
  .navigation .logo.shrinked img {
    height: 40px;
    width: auto; }
  .navigation .menu {
    clear: none;
    float: right;
    max-height: none; }
  .navigation .menu-icon {
    display: none; } }

#header-main {
  position: relative;
  overflow: hidden;
  box-sizing: border-box; }
  #header-main .header-img {
    position: absolute;
    width: 100%;
    height: 100%;
    bottom: 0;
    right: 0;
    z-index: -2;
    background: url("../img/hero-img.jpg") no-repeat 0 55%/cover; }
    #header-main .header-img:after {
      content: "";
      background: #fff;
      position: absolute;
      width: 100%;
      height: 100%;
      opacity: 0.75; }
  #header-main .header-wrapper {
    margin-top: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 700px; }
    #header-main .header-wrapper .header-content {
      text-align: center;
      color: #005a99;
      box-sizing: border-box;
      width: 100%; }
      #header-main .header-wrapper .header-content h1 {
        font-family: "jost", "Arial", "Helvetica", cursive;
        font-size: 6rem;
        font-weight: bold;
        line-height: 0.7; }
      #header-main .header-wrapper .header-content .header-line {
        height: 10px;
        width: 50rem;
        background: #fff;
        box-shadow: 0 3px 1px rgba(0, 0, 0, 0.04), 0 4px 2px rgba(0, 0, 0, 0.04), 0 5px 4px rgba(0, 0, 0, 0.04);
        margin: 2.1rem auto;
        opacity: 1;
        border-radius: 25px; }
      #header-main .header-wrapper .header-content p {
        font-size: 3.1rem;
        color: #e01983;
        margin-top: -20px; }
        #header-main .header-wrapper .header-content p .slash {
          font-weight: lighter;
          margin: auto 1rem;
          opacity: 0.5;
          color: #e01983;
          border-radius: 50%; }

.btn-main, .btn-light, .btn-dark, .btn-cta, .btn-external, .btn-top {
  display: inline-block;
  padding: 0.8rem 2rem;
  transition: all 0.25s;
  border: none;
  border-radius: 25px;
  cursor: pointer; }

.btn-main {
  color: #333;
  background-color: #005a99; }

.btn-light {
  color: #333;
  background-color: #f4f4f4; }

.btn-dark {
  color: #fff;
  background-color: #333; }

.btn-cta {
  color: #fff;
  margin-top: 1rem;
  background-color: #e01983; }

.btn-external {
  margin-top: 0.5rem;
  color: #fff;
  background-color: #333; }
  .btn-external i:before {
    transition: all 0.25s;
    line-height: 0;
    color: #e01983; }

.btn-top {
  text-align: center;
  height: 45px;
  width: 45px;
  background-color: #e01983;
  border: inset 2px solid #e01983;
  border-radius: 50%;
  padding: 0;
  position: fixed;
  bottom: 16px;
  right: 16px;
  z-index: 98;
  display: none;
  -webkit-box-shadow: 0px 2px 4px 1px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0px 2px 4px 1px rgba(0, 0, 0, 0.15);
  box-shadow: 0px 2px 4px 1px rgba(0, 0, 0, 0.15); }
  .btn-top .arrow {
    border: solid white;
    border-width: 0 5px 5px 0;
    display: inline-block;
    padding: 5px;
    margin: 17px auto;
    transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg); }
  .btn-top.hidden {
    bottom: -60px; }

button[class^="btn-"]:hover,
a[class^="btn-"]:hover,
input[class^="btn"]:hover {
  background-color: #ff1f97;
  opacity: 1; }
  button[class^="btn-"]:hover i:before,
  a[class^="btn-"]:hover i:before,
  input[class^="btn"]:hover i:before {
    color: #fff; }

.disabled {
  pointer-events: none;
  opacity: 0.5; }

/* jost-regular - latin */
@font-face {
  font-family: "Jost";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/jost-v2-latin-regular.eot");
  /* IE9 Compat Modes */
  src: local(""), url("../fonts/jost-v2-latin-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/jost-v2-latin-regular.woff2") format("woff2"), url("../fonts/jost-v2-latin-regular.woff") format("woff"), url("../fonts/jost-v2-latin-regular.ttf") format("truetype"), url("../fonts/jost-v2-latin-regular.svg#Jost") format("svg");
  /* Legacy iOS */ }

/* jost-700 - latin */
@font-face {
  font-family: "Jost";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/jost-v2-latin-700.eot");
  /* IE9 Compat Modes */
  src: local(""), url("../fonts/jost-v2-latin-700.eot?#iefix") format("embedded-opentype"), url("../fonts/jost-v2-latin-700.woff2") format("woff2"), url("../fonts/jost-v2-latin-700.woff") format("woff"), url("../fonts/jost-v2-latin-700.ttf") format("truetype"), url("../fonts/jost-v2-latin-700.svg#Jost") format("svg");
  /* Legacy iOS */ }

.course-time-wrapper {
  margin: 0.25rem 0;
  line-height: 1.3; }
  .course-time-wrapper .course-time {
    display: inline-block;
    font-size: 0.8rem;
    margin-right: 0.25rem;
    margin-bottom: 0.25rem;
    background: #e01983;
    padding: 0.2rem 0.5rem;
    border-radius: 25px; }

@media screen and (max-width: 1025px) {
  .course-time-wrapper {
    margin: 0.1rem 0 0.25rem 0; }
    .course-time-wrapper .course-time {
      font-size: 0.6rem;
      padding: 0.2rem 0.3rem;
      margin-right: 0.15rem; } }

.pricecard {
  z-index: 1;
  height: 14.3rem;
  padding: 2rem;
  position: relative;
  color: #fff;
  background: #005a99;
  margin-bottom: auto;
  border-radius: 25px; }
  .pricecard h3 {
    font-size: 1.5rem;
    text-align: left; }
  .pricecard h4 {
    text-align: left;
    margin-bottom: 1rem; }
  .pricecard .line {
    height: 10px;
    width: 100%;
    background: green; }
  .pricecard ul {
    padding: 0 1.2rem;
    list-style: disc outside; }
  .pricecard li {
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    text-align: left;
    padding: 0.5rem 0 0.5rem 1rem; }
    .pricecard li span {
      margin-left: -1rem; }
  .pricecard li:last-child {
    border: none; }
  .pricecard .price-box {
    position: absolute;
    bottom: -2rem;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 3.6rem;
    width: 50%;
    border: 0.4rem solid #f4f4f4;
    background: #e01983;
    border-radius: 25px; }
    .pricecard .price-box p {
      color: #fff;
      font-size: 2.3rem; }
  .pricecard::before {
    content: "";
    z-index: -1;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    border-radius: 25px;
    background: url("../img/cardbg.png");
    background-size: cover;
    background-position: 20% 30%; }
  .pricecard::after {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    border-radius: 25px;
    background-color: #005a99;
    opacity: 0.95; }

.price-currency {
  font-size: 1.5rem; }

.flex-items {
  display: flex;
  align-content: center;
  justify-content: center;
  text-align: center;
  height: 100%; }

.flex-items > div {
  padding: 20px; }

/* flex columns */
.flex-columns.flex-reverse .row {
  flex-direction: row-reverse; }

.flex-columns .row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%; }

.flex-columns .column {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1; }

.flex-columns .column .column-1,
.flex-columns .column .column-2 {
  height: 100%; }

.flex-columns img {
  width: 100%;
  height: 100%;
  object-fit: cover; }

.flex-columns .column-2 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: 30px; }

.flex-columns h2 {
  font-size: 40px;
  font-weight: 100; }

.flex-columns h4 {
  margin-bottom: 10px; }

.flex-columns p {
  margin: 20px 0; }

/* flex-grid */
.flex-grid .row {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px; }

.flex-grid .column {
  flex: 25%;
  max-width: 25%;
  padding: 0 4px; }

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  html {
    overflow: hidden; }
  body {
    overflow: auto; } }

* {
  margin: 0;
  padding: 0; }

html {
  -webkit-text-size-adjust: 100%; }

body {
  color: #333;
  font-family: "Jost", "Arial", "Helvetica", sans-serif;
  line-height: 1.6;
  background-color: #fff; }

a {
  text-decoration: none;
  color: #333; }

ul {
  list-style: none; }

img {
  width: 100%; }

#home-fitness-banner {
  background-image: url("../img/center/fitness.jpg"); }

#home-wellness-banner {
  background-image: url("../img/center/wellness.jpg"); }

#home-selfdefense-banner {
  background-image: url("../img/center/selfdefense2.jpg"); }

#home-features {
  position: relative;
  z-index: 1;
  overflow: hidden; }
  #home-features .specials {
    margin-top: 3rem;
    margin-bottom: 2rem;
    display: grid;
    grid-gap: 1.5rem;
    grid-template-columns: repeat(3, 1fr);
    -ms-grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr; }
    #home-features .specials div {
      z-index: 0;
      color: #333;
      background: #fff;
      border-radius: 1rem;
      transition: all 0.2s ease-in-out;
      box-shadow: 0 1px 1px rgba(0, 0, 0, 0.07), 0 2px 2px rgba(0, 0, 0, 0.07), 0 4px 4px rgba(0, 0, 0, 0.07), 0 6px 8px rgba(0, 0, 0, 0.07), 0 8px 16px rgba(0, 0, 0, 0.07);
      display: grid;
      padding: 1rem;
      height: calc(100% - 2rem);
      align-items: center;
      justify-content: center;
      grid-template-rows: 1fr 0.5fr 1.4fr; }
      #home-features .specials div i {
        color: #005a99; }
      #home-features .specials div h3 {
        padding: 0; }
      #home-features .specials div p {
        margin: auto 0;
        text-align: center; }
    #home-features .specials div:hover {
      transform: translateY(-10px); }
    #home-features .specials div::after:hover {
      transform: translateY(-10px);
      opacity: 1; }

#home-fitness {
  background: #005a99;
  z-index: 1;
  position: relative;
  color: #fff; }
  #home-fitness .specials {
    display: grid;
    justify-content: center;
    align-items: center;
    color: #fff;
    border-top-left-radius: 25px;
    border-bottom-right-radius: 25px;
    border-left: 1px solid #f4f4f4;
    border-right: 1px solid #f4f4f4;
    margin-top: 3rem;
    grid-gap: 1.5rem;
    margin-bottom: 1.5rem;
    grid-template-columns: repeat(2, 1fr); }
    #home-fitness .specials div {
      text-align: left;
      border-radius: 25px;
      padding: 1.5rem;
      margin-bottom: auto; }
    #home-fitness .specials .fas {
      color: #005a99;
      padding-bottom: 0.4rem; }

#home-wellness {
  background-color: #005a99;
  z-index: 1;
  position: relative;
  color: white; }
  #home-wellness .specials {
    color: #f4f4f4;
    display: grid;
    justify-content: center;
    border-top-left-radius: 25px;
    border-bottom-right-radius: 25px;
    border-left: 1px solid #f4f4f4;
    border-right: 1px solid #f4f4f4;
    align-items: center;
    grid-template-columns: repeat(3, 1fr);
    margin-top: 3rem;
    margin-bottom: 1.5rem; }
    #home-wellness .specials div {
      border-radius: 25px;
      padding: 1.5rem;
      margin-bottom: auto; }
    #home-wellness .specials .fas {
      color: #005a99;
      padding-bottom: 0.4rem; }

#home-selfdefense {
  background: #005a99;
  z-index: 1;
  color: #fff;
  box-shadow: inset 0 -7px 5px -7px rgba(0, 0, 0, 0.4); }
  #home-selfdefense .specials {
    display: grid;
    color: #f4f4f4;
    grid-template-columns: repeat(3, 1fr);
    border-top-left-radius: 25px;
    border-bottom-right-radius: 25px;
    border-left: 1px solid #f4f4f4;
    border-right: 1px solid #f4f4f4;
    grid-auto-rows: 1fr;
    margin-top: 3rem;
    margin-bottom: 1.5rem; }
    #home-selfdefense .specials div {
      border-radius: 25px;
      padding: 1rem;
      margin-bottom: auto; }
    #home-selfdefense .specials .fas {
      color: #005a99;
      padding-bottom: 0.4rem; }

#home-team .specials {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1rem;
  align-items: center;
  justify-content: center; }
  #home-team .specials p {
    text-align: center; }
  #home-team .specials .team-member {
    margin-bottom: auto;
    padding: 10px;
    border-radius: 25px; }
    #home-team .specials .team-member img {
      border-radius: 50%;
      border: 2px solid #005a99;
      height: 150px;
      width: 150px; }

#home-prices .pricegrid {
  display: grid;
  justify-content: center;
  align-items: center;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 1fr min-content;
  grid-gap: 1.5rem;
  padding-bottom: 1.7rem; }
  #home-prices .pricegrid:nth-of-type(4) {
    margin-bottom: 0;
    padding-bottom: 0; }

#home-contact .contact-info {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  text-align: center;
  grid-gap: 1.5rem; }
  #home-contact .contact-info h3 {
    font-size: 1.5rem; }
  #home-contact .contact-info p {
    font-size: 1.3rem; }

#main-footer {
  background: #333;
  color: #fff; }
  #main-footer a {
    color: white; }
  #main-footer .footer-content {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: "opened social info";
    justify-content: space-between;
    line-height: 2.5;
    align-items: center; }
    #main-footer .footer-content .opened {
      grid-area: opened; }
    #main-footer .footer-content .info {
      grid-area: info;
      text-align: right; }
    #main-footer .footer-content .social {
      grid-area: social;
      text-align: center; }
      #main-footer .footer-content .social a {
        color: #fff; }
        #main-footer .footer-content .social a i {
          text-rendering: optimizeLegibility;
          color: #fff;
          border: 1px solid transparent;
          border-radius: 50%;
          transition: all 0.25s ease-out; }
        #main-footer .footer-content .social a:hover i {
          color: #005a99;
          border-color: #fff;
          background: #fff; }

#impressum {
  margin-top: 50px; }

@media (max-width: 1202px) {
  #home-prices .pricegrid {
    grid-template-columns: 1fr 1fr;
    grid-gap: 3.1rem;
    margin-bottom: 1.8rem; }
    #home-prices .pricegrid #grid-placeholder {
      display: none; }
    #home-prices .pricegrid:nth-of-type(4) {
      grid-template-rows: 1fr;
      padding-bottom: 1.7rem; } }

@media (max-width: 1000px) {
  #header-main .header-wrapper .header-content h1 {
    font-size: 5rem; }
  #header-main .header-wrapper .header-content .header-line {
    width: 42.5rem; }
  #header-main .header-wrapper .header-content p {
    font-size: 2.64rem; }
  #main-footer .footer-content {
    grid-template-columns: 1fr;
    grid-template-areas: "opened info" "social social"; } }

@media (min-width: 668px) and (max-width: 767px) {
  .section-title {
    font-size: 2.9rem; }
  .btn-top {
    display: block; }
  #header-main .header-wrapper .header-content h1 {
    text-align: left;
    font-size: 5rem;
    line-height: 1; }
    #header-main .header-wrapper .header-content h1 #fit-keyword {
      display: block;
      font-size: 5.65rem;
      color: #e01983; }
  #header-main .header-wrapper .header-content .header-line {
    display: none;
    width: 25rem; }
  #header-main .header-wrapper .header-content p {
    display: none;
    font-size: 1rem; }
  .course-time-wrapper {
    text-align: left; }
  .content-title {
    text-align: left; }
  .content-description {
    text-align: left;
    margin-bottom: 0; }
  #home-features .specials,
  #home-fitness .specials,
  #home-wellness .specials,
  #home-selfdefense .specials,
  #home-contact .contact-info {
    grid-template-columns: 1fr;
    grid-gap: 0;
    padding: 0; }
    #home-features .specials div,
    #home-fitness .specials div,
    #home-wellness .specials div,
    #home-selfdefense .specials div,
    #home-contact .contact-info div {
      padding: 1rem;
      border-bottom: 1px solid rgba(255, 255, 255, 0.2);
      border-radius: 0;
      margin-bottom: 0; }
    #home-features .specials div:last-child,
    #home-fitness .specials div:last-child,
    #home-wellness .specials div:last-child,
    #home-selfdefense .specials div:last-child,
    #home-contact .contact-info div:last-child {
      border-bottom: none; }
  #home-features .specials {
    grid-gap: 1.5rem; }
    #home-features .specials div {
      border-radius: 25px; }
      #home-features .specials div:hover {
        transform: none; }
      #home-features .specials div p {
        font-size: 1rem; }
  #home-selfdefense .specials div {
    position: relative;
    padding-bottom: 5rem; }
    #home-selfdefense .specials div .btn-external {
      position: absolute;
      left: 1rem;
      right: 1rem;
      bottom: 1rem;
      margin: 0 auto; }
  #home-prices .pricegrid {
    grid-template-columns: 1fr 1fr;
    grid-gap: 3.1rem;
    margin-bottom: 1.8rem; }
    #home-prices .pricegrid #grid-placeholder {
      display: none; }
    #home-prices .pricegrid:nth-of-type(4) {
      grid-template-rows: 1fr;
      padding-bottom: 1.7rem; }
  #home-contact .contact-info a {
    border-bottom: 1px solid rgba(0, 0, 0, 0.1); }
    #home-contact .contact-info a:last-child {
      border: none; }
  #main-footer .footer-content {
    grid-template-columns: 1fr;
    grid-template-areas: "opened" "info" "social"; }
    #main-footer .footer-content .opened {
      width: 100%;
      padding-bottom: 1rem;
      border-bottom: 1px solid rgba(255, 255, 255, 0.2); }
    #main-footer .footer-content .info {
      width: 100%;
      text-align: left;
      padding: 1rem 0;
      border-bottom: 1px solid rgba(255, 255, 255, 0.2); }
      #main-footer .footer-content .info .placeholder {
        display: none; }
    #main-footer .footer-content .social {
      display: block;
      width: 100%;
      padding-top: 1rem;
      text-align: center; } }

@media screen and (max-width: 1380px) and (-webkit-min-device-pixel-ratio: 2) {
  .section-banner {
    background-attachment: scroll;
    background-position: top;
    background-size: cover; } }

@media screen and (max-width: 1025px) and (min-height: 767px) and (hover: none) {
  .section-banner {
    background-attachment: scroll;
    background-position: 20% 0;
    background-size: cover;
    height: 20rem;
    width: 100%; }
  .section-title {
    font-size: 2.8rem; }
  .section-subtitle {
    font-size: 1.8rem; }
  .content-title {
    font-size: 1.3rem; }
  .content-description {
    font-size: 1rem; }
  .btn-top {
    display: block; }
  #home-features .specials {
    grid-gap: 0.7rem; }
    #home-features .specials div {
      padding: 1rem; }
    #home-features .specials h3 {
      font-size: 1rem; }
    #home-features .specials p {
      font-size: 1rem; }
  #home-fitness .specials {
    grid-gap: 0.15rem; }
    #home-fitness .specials div {
      padding: 1rem; }
  #home-prices .pricegrid {
    grid-template-columns: 1fr 1fr;
    grid-gap: 3rem;
    margin-bottom: 1.1rem; }
    #home-prices .pricegrid #grid-placeholder {
      display: none; }
    #home-prices .pricegrid:nth-of-type(4) {
      padding-bottom: 1.7rem;
      grid-template-rows: 1fr; }
  #home-contact .contact-info h3 {
    font-size: 1.3rem; }
  #home-contact .contact-info p {
    font-size: 1rem; }
  #main-footer .footer-content {
    grid-template-columns: 1fr;
    grid-template-areas: "opened info" "social social"; } }

@media screen and (max-height: 450px) and (-webkit-min-device-pixel-ratio: 1.5) {
  .container {
    max-width: 600px;
    padding: 0 1rem;
    margin: auto;
    overflow: hidden; }
  .section-banner {
    background-attachment: scroll;
    background-position: top;
    background-size: cover;
    height: 15rem;
    width: 100%; }
  .course-time-wrapper {
    text-align: left; }
  .py-3 {
    padding: 3rem 0; }
  .section-title {
    text-align: center;
    font-size: 2rem; }
  .section-subtitle {
    text-align: center;
    font-size: 1.5rem; }
  .content-title {
    text-align: left;
    font-size: 1.3rem; }
  .content-description {
    font-size: 1rem;
    text-align: left;
    margin-bottom: 0; }
  #header-main {
    height: 100vh;
    min-height: 360px; }
    #header-main .header-wrapper {
      margin-top: 0;
      justify-content: center;
      align-items: center;
      height: 100vh;
      min-height: 360px; }
      #header-main .header-wrapper .header-content {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 0 0 8% 0;
        height: 100%;
        width: 100%; }
        #header-main .header-wrapper .header-content h1 {
          margin-top: 20%;
          text-align: center;
          font-size: 3.5rem;
          line-height: 1; }
        #header-main .header-wrapper .header-content .header-line {
          height: 5px;
          display: block;
          width: auto;
          margin: -2rem 10% -1rem 10%; }
        #header-main .header-wrapper .header-content p {
          font-size: 1.83rem; }
        #header-main .header-wrapper .header-content .btn-cta {
          margin: 0 15% 0 15%; }
  #home-features .specials,
  #home-fitness .specials,
  #home-wellness .specials,
  #home-selfdefense .specials,
  #home-contact .contact-info {
    grid-template-columns: 1fr;
    grid-gap: 0;
    padding: 0; }
    #home-features .specials div,
    #home-fitness .specials div,
    #home-wellness .specials div,
    #home-selfdefense .specials div,
    #home-contact .contact-info div {
      padding: 1rem;
      border-bottom: 1px solid rgba(255, 255, 255, 0.2);
      border-radius: 0;
      margin-bottom: 0; }
    #home-features .specials div:last-child,
    #home-fitness .specials div:last-child,
    #home-wellness .specials div:last-child,
    #home-selfdefense .specials div:last-child,
    #home-contact .contact-info div:last-child {
      border-bottom: none; }
  #home-features .specials {
    grid-gap: 1.5rem; }
    #home-features .specials div {
      border-radius: 25px; }
      #home-features .specials div:hover {
        transform: none; }
      #home-features .specials div p {
        font-size: 1rem; }
  #home-selfdefense .specials div {
    position: relative;
    padding-bottom: 5rem; }
    #home-selfdefense .specials div .btn-external {
      position: absolute;
      left: 1rem;
      right: 1rem;
      bottom: 1rem;
      margin: 0 auto; }
  #home-prices .pricegrid {
    grid-template-columns: 1fr 1fr;
    grid-gap: 3.1rem;
    margin-bottom: 1.8rem; }
    #home-prices .pricegrid #grid-placeholder {
      display: none; }
    #home-prices .pricegrid:nth-of-type(4) {
      grid-template-rows: 1fr;
      padding-bottom: 1.7rem; }
  #home-contact .contact-info a {
    border-bottom: 1px solid rgba(0, 0, 0, 0.1); }
    #home-contact .contact-info a:last-child {
      border: none; }
  #main-footer .footer-content {
    grid-template-columns: 1fr;
    grid-template-areas: "opened" "info" "social"; }
    #main-footer .footer-content .opened {
      width: 100%;
      padding-bottom: 1rem;
      border-bottom: 1px solid rgba(255, 255, 255, 0.2); }
    #main-footer .footer-content .info {
      width: 100%;
      text-align: left;
      padding: 1rem 0;
      border-bottom: 1px solid rgba(255, 255, 255, 0.2); }
      #main-footer .footer-content .info .placeholder {
        display: none; }
    #main-footer .footer-content .social {
      display: block;
      width: 100%;
      padding-top: 1rem;
      text-align: center; } }

@media screen and (max-height: 325px) and (-webkit-device-pixel-ratio: 2) {
  .container {
    max-width: 600px;
    padding: 0 1rem;
    margin: auto;
    overflow: hidden; }
  .section-banner {
    background-attachment: scroll;
    background-position: top;
    background-size: cover;
    height: 15rem;
    width: 100%; }
  .course-time-wrapper {
    text-align: left; }
  .py-3 {
    padding: 3rem 0; }
  .section-title {
    text-align: center;
    font-size: 2rem; }
  .section-subtitle {
    text-align: center;
    font-size: 1.5rem; }
  .content-title {
    text-align: left;
    font-size: 1.3rem; }
  .content-description {
    font-size: 1rem;
    text-align: left;
    margin-bottom: 0; }
  #header-main {
    height: 100vh;
    min-height: 500px; }
    #header-main .header-wrapper {
      margin-top: 0;
      justify-content: center;
      align-items: center;
      height: 100vh;
      min-height: 500px; }
      #header-main .header-wrapper .header-content {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 0 0 8% 0;
        height: 100%;
        width: 100%; }
        #header-main .header-wrapper .header-content h1 {
          margin-top: 20%;
          text-align: center;
          font-size: 3rem;
          line-height: 1; }
        #header-main .header-wrapper .header-content .header-line {
          height: 5px;
          display: block;
          width: auto;
          margin: -2rem 10% -1rem 10%; }
        #header-main .header-wrapper .header-content p {
          font-size: 1.65rem; }
        #header-main .header-wrapper .header-content .btn-cta {
          margin: 0 15% 2% 15%; }
  #home-team .specials {
    grid-template-columns: repeat(2, 1fr); }
  #home-prices .pricegrid {
    grid-template-columns: 1fr; } }

@media screen and (max-width: 430px) {
  .container {
    max-width: 600px;
    padding: 0 1rem;
    margin: auto;
    overflow: hidden; }
  .section-banner {
    background-attachment: scroll;
    background-position: top;
    background-size: cover;
    height: 15rem;
    width: 100%; }
  .course-time-wrapper {
    text-align: left; }
  .py-3 {
    padding: 3rem 0; }
  .section-title {
    text-align: center;
    font-size: 2rem; }
  .section-subtitle {
    text-align: center;
    font-size: 1.5rem; }
  .content-title {
    text-align: left;
    font-size: 1.3rem; }
  .content-description {
    font-size: 1rem;
    text-align: left;
    margin-bottom: 0; }
  #header-main {
    margin-top: 56px;
    height: 584px; }
    #header-main .header-img {
      background-position: 50% 35%; }
    #header-main .header-wrapper {
      margin-top: 0;
      justify-content: center;
      align-items: center;
      height: 100%; }
      #header-main .header-wrapper .header-content {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 584px;
        width: 100%; }
        #header-main .header-wrapper .header-content h1 {
          margin-top: 26%;
          text-align: left;
          font-size: 5rem;
          line-height: 0.9; }
          #header-main .header-wrapper .header-content h1 #fit-keyword {
            color: #e01983;
            font-size: 5.65rem;
            display: block; }
        #header-main .header-wrapper .header-content .header-line {
          display: none; }
        #header-main .header-wrapper .header-content p {
          color: transparent;
          font-size: 0.1rem; }
        #header-main .header-wrapper .header-content .btn-cta {
          font-weight: bold;
          margin-bottom: 26%; }
  #home-features .specials,
  #home-fitness .specials,
  #home-wellness .specials,
  #home-selfdefense .specials,
  #home-contact .contact-info {
    grid-template-columns: 1fr;
    grid-gap: 0;
    padding: 0; }
    #home-features .specials div,
    #home-fitness .specials div,
    #home-wellness .specials div,
    #home-selfdefense .specials div,
    #home-contact .contact-info div {
      padding: 1rem;
      border-bottom: 1px solid rgba(255, 255, 255, 0.2);
      border-radius: 0;
      margin-bottom: 0; }
    #home-features .specials div:last-child,
    #home-fitness .specials div:last-child,
    #home-wellness .specials div:last-child,
    #home-selfdefense .specials div:last-child,
    #home-contact .contact-info div:last-child {
      border-bottom: none; }
  #home-features .specials {
    grid-gap: 1.5rem; }
    #home-features .specials div {
      border-radius: 25px; }
      #home-features .specials div:hover {
        transform: none; }
      #home-features .specials div p {
        font-size: 1rem; }
  #home-selfdefense .specials div {
    position: relative;
    padding-bottom: 5rem; }
    #home-selfdefense .specials div .btn-external {
      position: absolute;
      left: 1rem;
      right: 1rem;
      bottom: 1rem;
      margin: 0 auto; }
  #home-prices .pricegrid {
    grid-template-columns: 1fr;
    grid-gap: 3.1rem;
    margin-bottom: 1.8rem; }
    #home-prices .pricegrid #grid-placeholder {
      display: none; }
    #home-prices .pricegrid:nth-of-type(4) {
      padding-bottom: 1.7rem; }
  #home-contact .contact-info a {
    border-bottom: 1px solid rgba(0, 0, 0, 0.1); }
    #home-contact .contact-info a:last-child {
      border: none; }
  #home-team .specials {
    grid-template-columns: 1fr 1fr;
    grid-gap: 0; }
    #home-team .specials .team-member img {
      border: 2px solid #005a99;
      height: 135px;
      width: 135px; }
  #main-footer .footer-content {
    grid-template-columns: 1fr;
    grid-template-areas: "opened" "info" "social"; }
    #main-footer .footer-content .opened {
      width: 100%;
      padding-bottom: 1rem;
      border-bottom: 1px solid rgba(255, 255, 255, 0.2); }
    #main-footer .footer-content .info {
      width: 100%;
      text-align: left;
      padding: 1rem 0;
      border-bottom: 1px solid rgba(255, 255, 255, 0.2); }
      #main-footer .footer-content .info .placeholder {
        display: none; }
    #main-footer .footer-content .social {
      display: block;
      width: 100%;
      padding-top: 1rem;
      text-align: center; }
  .btn-top {
    display: block; } }
